@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#cursor {
    height: 18px;
    width: 8px;
    animation: blink 1s cubic-bezier(1, 0, 0, 1) infinite;
}

#hidden-input {
    font-size: 14px;
    position: relative;
    bottom: 100%;
    right: 100%;
}
